<!DOCTYPE html>
<html>
<head>
<style>
body {
width: 800px;
margin: 0 auto;
font: 12pt/1.5 Cambria, serif;
background: lightyellow;
}
header {
}
h1 {
font-size: 45px;
font-family: 'Times-New-Roman', serif;
text-align: center;
color: #90EE90;
}
h2 {
font-size: 30px;
font-family: 'Times New Roman', serif;
text-align:center;
color: #90EE90;
}
h3 {
font-size: 22px;
font-family: 'Times New Roman', serif;
text-align: center;
color: #90EE90;
}
</style>
</head>
<body>

</body>
</html>
